# Ignore excel files
*.xlsx

# Ignore png images
*.png

# Ignore jpg images
*.jpg

# Ignore html files
*.html

# Ignore RData files
*.RData

# Ignore .Rhistory files
.Rhistory

# Ignore example.csv files
example.csv
